<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Template</title>
</head>
<body>
    <div id="hello">
        파라메터 :
        Welcome : <label th:text="${welcome}">Hello World</label>

        &nbsp;&nbsp;<button type="button" onclick="location.href='/insert_form'">등록</button>

    </div>

    <hr>

    <div id="list">
        <table>
            <tr>
                <th>No</th>
                <th>이름</th>
                <th>나이</th>
                <th>등록일</th>
                <th>수정</th>
            </tr>


            <th:block th:each="list : ${list}">
                <tr>
                    <td th:text="${list.get('no')}">No</td>
                    <td th:text="${list.get('name')}">이름</td>
                    <td th:text="${list.get('age')}">나이</td>
                    <td th:text="${list.get('reg_day')}">등록일</td>
                    <td><a th:href="@{/update_exe(no=${list.get('no')})}">수정</a></td>
                    <td><a th:href="@{/delete(no=${list.get('no')})}">삭제</a></td>
                </tr>
            </th:block>
        </table>

    </div>
</body>
</html>